*{
    margin: 0;
    padding: 0;
}

#preloader{
    position:fixed;
    width: 100%;
    height: 100vh;
    background: red url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fgifer.com%2Fen%2F7TwJ&psig=AOvVaw19Yv3-xQWLVt7NK8gjO7gh&ust=1592639484472000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCOi47PCyjeoCFQAAAAAdAAAAABAJ);
    z-index: 9999999;
}


body{
    margin:0px;         
            
    background-color: rgb(220,220,220);
  
}

#first{
    
    background-image:linear-gradient(rgba(0,0,0,1),transparent, rgba(0, 255, 191, 0.384)), url(img/b5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
}

#satkarya{
                    
                    font-family: rajfont;
                    color: white;
                    white-space: nowrap;
                    letter-spacing: .05em;
                    transition:.5s;
                    text-shadow: 5px 5px 5px green,-2px -2px black,2px 2px black; 
                    font-size: 90px;
                  }

#satkarya2{
    font-family: rajfont; 
    color: white;
    white-space: nowrap;
    letter-spacing: .05em;
    text-shadow: 5px 5px 5px green,-2px -2px black,2px 2px black;
    transition:.5s;
    font-size: 60px;
    
    
}

#satkarya::first-letter{
    color: red;
    font-size: 100px;
}
#satkarya2::first-letter{
    color: red;
    font-size: 70px;
    
    
}
#profile{
  height: 90px;
  width: 90px;
}
#profile2{
     height: 45px;
     width: 45px;
}
#head{
    transition:.5s;  
    
}  
#slogo{
    width:100px;
}
#head2{
    min-width: 100%;
    background-color: rgba(0,0,0,.8);
   text-decoration: none;
}
.bg-black{
    background: linear-gradient(rgba(0,0,0,1),rgba(0,0,0,.8),transparent);
}

.headimg{
   height: 100px;
   float: left;
   margin-top: 0px;
   
   
}
#headname{
    text-shadow:3px 2px grey;
    font-size:40px;
    font-family: cursive;
    font-weight: bold;
    
    
}
@font-face{
    font-family:rajfont;
    src:url(kruti-dev-021.ttf);
}
.typewriter{
    height: 400px;
    width:100%;
    position: relative;
   
   
    
}
.typewriter p{
  
  font-size:60px;
  font-family: rajfont;
  color: white;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
   /*border-right: .10em solid black; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto;/* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  animation: typing 8.5s infinite,blink-caret .5s infinite;
}

/* The typing effect */
@keyframes typing {
  from
  { width: 0 }
  to 
  { width: 80% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: black  }
}
.midimg{
    height: 30px;
    min-width: 100%;
    border: 1px solid black;
    background-color: black;
}

#content{
    background-image: url(img/hands.png);
    background-position: center;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-size: contain ;
    background-blend-mode: multiply;
}
  

#postbox{
    background-color: rgba(220,220,220,1);
    float:left;
    height:400px; 
    width: 300px;
    margin-left:15px;
    background-color: white;
    border: 10px solid black;
    border-radius: 20px;
   
}

.mancont{
    opacity: 0;
}

.mancont.animated{
    opacity: 1;
}

.manimg{
    opacity: 0;
}

.manimg.animated{
    opacity: 1;
}


.utkcont{
    opacity: 0;
}

.utkcont.animated{
    opacity: 1;
}

.utkimg{
    opacity: 0;
}

.utkimg.animated{
    opacity: 1;
}

.M1{
    opacity: 0;
}

.M1.animated{
    opacity: 1;
}

.M2{
    opacity: 0;
}

.M2.animated{
    opacity: 1;
}

.M3{
    opacity: 0;
}

.M3.animated{
    opacity: 1;
}



#p1{
    
     border: 20px ridge white;
     border-radius: 20px;
     height: 400px;
     width: 600px;
     
     background-image: url(img/mn20.jpg);
     
}

#t1{
   
    color: white;
    width: 300px;
    font-family: cursive;
    font-size: 40px;
    margin: 20px;
    margin-top: 100px;
   
    
}

#p2{
     border: 20px ridge white;
     border-radius: 20px;
     height: 400px;
     width: 600px;
     float:right; 
     margin-right: 10px;
     background-image: url(img/utk.jpg);
}
#t2{
    color: white;
    width: 300px;
    font-family: cursive;
    font-size: 40px;
    margin: 20px;
    margin-top: 100px;
   
}

#p3{
     border: 20px ridge white;
     border-radius: 20px;
     height: 400px;
     width: 600px;
     float:left;
     margin: 10px;
     background-image: url(img/);
     
}

.gall{
   width: 270px;
   height: 200px;
    border-radius: 20px;
   
}

.C1{
    display: inline-block;
     transition-duration: 1s;
}
.card-cont{
    display:none;
    transition-duration: 1s;
}

.C1:hover .card-cont{
    display: block;
    transition-duration: 1s;
}



